@charset "utf-8";
/*CSS DOCUMENT*/

body{
    margin:0px;
    padding:0px;
    background-color:chocolate;

}

ul{
    list-style:none;
}

a{
    text-decoration: none;
}

#main{
    width:100%;
    height: 100vh;
    box-sizing:border-box;
    background-color:darkgrey;
    position:relative;
    background-image:url('./images/start.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right bottom;
    
    
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-transform: uppercase;
    font-weight:600;
    letter-spacing:2px;
    font-family:calibri;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    box-sizing:border-box;
    padding: 10px;
    background-color:azure;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
}

 .menu{
    display:flex;

} 

 .menu li a{
    padding:10px 5px;
    color:black;
    font-size:12px;
} 
.lang{
    color:rgb(158, 57, 141);
}

.Logo{
    font-size:30px;
    font-weight:bold;
    color:black;
    font-family:Poppins;
}

.menu li a:hover,
.active{
    background-color:black;
    color:yellowgreen !important;
    font-weight:700;
    transition: all ease 0.4s;
}

.name{
    font-family:calibri;
    width:500px;
    position:absolute;
    left:20%;
    top:50%;
    transform:translate(-20%,-50%);

}
.name p:nth-child(1),
.name .details{
    color:azure;
    font-size: 16px;

}

.name h1{
    font-family:Poppins;
    font-size:40px;
    margin:0px;
    letter-spacing:3px;
    color:antiquewhite;
}

.cv{
    width:200px;
    height:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: beige;
    color:black;
}

.cv:hover{
    background-color:blue;
    transition:all ease 0.5s

}
.social{
    position:absolute;
    left:50px;
    bottom:50px;
    display:flex;
}

.social a{
    margin:6px 12px;

}
.social i{
    color:blueviolet
}
.social a:hover i{
    color:black;
    transition: all ease 0.5s ;
}
.arrow{
    align-self:end;
    width:5%;
    height:15%;
    margin-bottom:4em;
    position:absolute;
    bottom:0px;
    left:-3%;
    border-right:1px solid rgba(41,41,41,0.3)
}
.arrow::after{
    content:'';
    position:absolute;
    width:0;
    height:0;
    border-style:solid;
    border-width:11px 11px 0px 0px;
    border-color:#2929 transparent transparent transparent;
    right:-0.7em;
    bottom:-2px;
}
#about{
    width:100%;
    height:100hv;
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:50px 5% 0px 5%;


}
.about-text{
    font-family:calibri;
    width:50%;

}
.about-text h1{
    font-size: 5rem;
    color:black;

}

.about-text h2{
    font-size: 3rem;
    color:black;
    font-weight: 400;
}

.about-text h1,h2{
    margin:0px;
    padding:0px;

}

.about-text p{
    font-size:1.2rem;
    color:aqua;
    
}